* {
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    font-size: 40px;
    border-radius: 12px;
    background-color: rgb(172, 172, 172);
}

.container {
    border: solid 1px black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 600px;
    justify-items: center;
    padding: 12px;
    background-color: rgb(54, 48, 48);
}

.display-container {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    border: solid 1px rgb(0,0,0);
    border-radius: 12px;
    font-size: 40px;
    text-align: end;
    padding: 12px;
    background-color: rgb(255,255,255);
    margin: 12px;
}

.buttons {
    padding: 12px;
    flex: 5;
    display: flex;
}

.num-pad {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.number {
    width: 70px;
}

.operators {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.operator {
    flex: 1;
}

.footer {
    margin-top: 20px;
    font-size: 18px;
}